footer{width: 100%; height: 200px; background-color: rgb(24, 24, 24);padding-top: 20px;}
footer .container{flex-direction: column; justify-content: center; height: 100%;}
footer .container ul{border-top: 0.5px solid #8e8e8e; padding-top:40px; display: flex; width: 100%; justify-content: center;}
footer .container ul li{margin: 0 9px 24px;}
footer .container ul li a{font-size: 12px; color: #8e8e8e;}
footer .container .copy{display: flex;justify-content: center;}
footer .container .copy {margin-right: 10px;color: #8e8e8e;}
footer .container .copy select{border:0; background-color: #fafafa;color:#8e8e8e;margin-right: 10px;}
footer .container .copy p{font-size: 12px;padding-top: 2px;}
