.main {
	padding-top: 80px;
	background: black;
}

  .main-container {
    color: white;
  }
  
  .top-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .top-menu-right {
    display: flex;
  }
  .top-menu-right div {
    margin-right: 3px;
  }
  
  .top-menu-left {
    display: flex;
  }
  
  .today-movie-view {
    display: flex;
    justify-content: center;
  }
  
  .today-movie-view div {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    margin-right: 5px;
    border: solid yellow;
  }
  
  .category-movie {
    display: flex;
    justify-content: center;
  }
  
  .category-movie div {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    margin-right: 5px;
    border: solid yellow;
  }
  
  .bbb {
    display: flex;
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }