body {
  padding-top: 80px;
  margin-top: 1em;
  background-color: rgb(24, 24, 24);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

body h2 {
  color: white;  
  margin: 35px;
}

/* middle */
.user_information {
  background-color: rgb(34, 34, 41);  
  margin: 0 30px;
  display: flex;
  justify-content: left;
  padding: 50px;
  color: white;
}

.user_information img {
  width: 180px;
  margin-right: 30px;
}

.first_text {
  /* background-color: red; */
  display: flex;
  margin: 40px 0;
}

/* main */

.category_area {
  background-color: rgb(47, 47, 56);
}

.category_list {
  display: flex;
  justify-content: left;
}

.category_list h2{
	margin-bottom: 0.1em;
}

.category_list div{
  cursor: pointer;
}

.su_container {
  display: flex;
  justify-content: center;  
}

.select_img {     
  /* margin: 30px;   */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(47, 47, 56);    
  display: flex;  
}

.select_img div {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.select_img img{
  margin: 10px;  
  width: 400px;
  border-radius: 10px;
}

@media screen and (max-width:48rem) {  

  .user_information {
    margin: 20px;
    display: flex;    
  }

  .user_information img{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 40px;
    top: 120px;
  }

  .first_text {
    display: block;
    position: relative;    
    left: 130px;
    bottom: 65px;
  }

  .first_text input {
    width: 170px;
  }

  .first_text div a {
    position: relative;
  }

  .second_text {
    position: relative;
    top: 20px;
  }

  body h2 {
    text-align: center;
    margin: 0;
  }

  .select_img img{
    width: 350px;
  }
  
  .top_title {
    display: flex;
    justify-content: space-between;
  }

  .top_title h2 {
    margin-top: 10px;
  }    

  .category_list h2 {
    font-size: large;
  }

  .category-area {
    display: flex;
    justify-content:center;
    margin: 20px 0;
  }

  .category_list h2{
    margin: 0 25px;
  }  
}

.like-List {
	display: grid;
	grid-gap: 10px;
	margin: 1em;
	height: 300px;
}

/* 작은 화면 크기일 때(1개씩) */
@media screen and (max-width: 600px) {
    .like-List {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 중간 화면 크기일 때(2개씩) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .like-List {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 큰 화면 크기일 때(3개씩) */
@media screen and (min-width: 901px) and (max-width: 1200px) {
    .like-List {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 큰 화면 크기일 때(4개씩) */
@media screen and (min-width: 1201px) {
    .like-List {
        grid-template-columns: repeat(5, 1fr);
    }
}

.movie-box {
	margin-top: 1em;
	width: 100%;
	height: 100%;
	border: 1px solid lightgray;
	overflow: hidden;
}

.movie-box .likeImg-box {
	width: 100%;
	height: 85%;
}

.movie-box .likeImg-box img{
	width: 100%;
	height: 100%;
}

.movie-box .likeHeart-box {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 45%;
	margin-top: 1em;
	color: white;
	padding-left: 1em;
}

.movie-box .likeHeart-box .fa-solid {
	color: red;
}

.movie-box .likeHeart-box i {
	color: white;
	margin-right: 1em;
	cursor: pointer;
}


